In [ ]:
# To enable plotting graphs in Jupyter notebook
%matplotlib inline
import pandas as pd
from sklearn.linear_model import LogisticRegression

# importing ploting libraries
import matplotlib.pyplot as plt   

#importing seaborn for statistical plots
import seaborn as sns

from sklearn import preprocessing

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
import numpy as np
import os,sys
from sklearn.metrics import classification_report, confusion_matrix

# calculate accuracy measures and confusion matrix
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from os import system
from IPython.display import Image
from sklearn.tree import plot_tree
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [ ]:
df_company=pd.read_excel('Part2 - Company.xlsx')
df_company.head()

In [ ]:
df_company.shape

In [ ]:
df_company.info()

In [ ]:
df_company.describe()

In [ ]:
df_company.isna().sum()

In [ ]:
cat_variables = df_company[['Quality','D']]
cat_dummies = pd.get_dummies(df_company['Quality'], drop_first=False)
cat_dummies.head()

In [16]:
df_company= pd.get_dummies(df_company, prefix='Quality', columns=['Quality']) #This function does One-Hot-Encoding on categorical text

In [17]:
df_company.head()

     A    B    C    D  Quality_Quality A  Quality_Quality B
0   47   27   45  108                  1                  0
1  174  133  134  166                  0                  1
2  159  163  135  131                  0                  0
3   61   23    3   44                  1                  0
4   59   60    9   68                  1                  0

In [20]:
df_company.shape

(61, 6)

In [23]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_company = pd.DataFrame(scaler.fit_transform(df_company), columns = df_company.columns)
df_company.head()

,A,B,C,D,Quality_Quality A,Quality_Quality B
0,0.223350,0.112821,0.213198,0.535714,1.0,0.0
1,0.868020,0.656410,0.664975,0.831633,0.0,1.0
2,0.791878,0.810256,0.670051,0.653061,0.0,0.0
3,0.294416,0.092308,0.000000,0.209184,1.0,0.0
4,0.284264,0.282051,0.030457,0.331633,1.0,0.0

In [24]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_company = pd.DataFrame(imputer.fit_transform(df_company),columns = df_company.columns)

In [25]:
df_company.isna().any()

A                    False
B                    False
C                    False
D                    False
Quality_Quality A    False
Quality_Quality B    False
dtype: bool